<div class="container">
    <h1 class="text-center my-3">¿Quien Soy?</h1>
    <div class="row justify-content-md-center">
        <div class="col-lg-4">
            <img src="../../assets/img/quiensoy.jpg" alt="" class="img-thumbnail">
        </div>
        <div class="col-lg-4">
            <h3><u>Datos Personales</u></h3>
            <p>Mi nombre es Esteban Santiago Limas.</p>
            <p>Tengo 30 años.</p>
            <p>Soy Argentino</p>
            <p>Vivo en Villa Urquiza (CABA)</p>
            <p>Trabajo en Telecom hace 6 años</p>
            <p>Soy estudiante de la UTN, empecé en la regional G Pacheco y estoy cursando la ultima materia en Avellaneda</p>
        </div>
    </div>
</div>