<div class="container">
    <h1 class="text-center my-3">Juegos</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor='let juego of listajuegos'>
        <div class="card shadow-sm">
            
            <img class="bd-placeholder-img card-img-top" height="250" src="assets/img/{{juego.imagen}}" alt="">

            <div class="card-body">
                <h5 class="card-title">{{juego.nombre}}</h5>
                <p class="card-text">Descripcion: {{juego.descripcion}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-info" routerLink='/juegos/{{juego.link}}' >Play <fa-icon [icon]="faPlayCircle" ></fa-icon></button>
                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
                    <small class="text-muted">mins</small>
                </div>
            </div>
        </div>
    </div>
</div>